header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.header-left a {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.header-middle input[type="text"] {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.header-right a {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}
