{% extends 'main/base.html' %}
{% load static %}

{% block link %}

<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'main/css/header.css' %}">
{% endblock %}

{% block header %}
<header>
  <div class="header-left">
    <a href="main/">Главная</a>
  </div>
    <form action="{% url 'search' %}">
        <div class="header-middle">
            <input type="text" placeholder="Поиск" name="search">
        </div>
    </form>

  <div class="header-right">
    <a href="#">Вход</a>
  </div>
</header>
{% endblock %}

{% block footer %}
<div class="container-fluid fixed-bottom pl-0 pr-0">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top " style="background-color: #13395c;">
    <p class="col-md-4 mb-0 text-body-secondary text-light">© 2023 CStudio</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">О нас</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Реклама</a></li>
    </ul>
  </footer>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">

      <h1><b>Профиль</b></h1>
      <div class="userdata">
        <p class="userdata-text">Username : {{username}}</p>
        <table>
        <tr>
            <td>
                <p class="userdata-text">First name : {{first_name}}</p>
                
            </td>
            <td>
                <p class="userdata-text">Last name : {{last_name}}</p>
            </td>
        </tr></table>
        <p class="userdata-text">E-mail : {{email}}</p>
        <p class="userdata-text">Last login : {{last_login}}</p></div>
      

      <!-- <form method="get" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form> -->
{% endblock %}